html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-main {
  background-color: #253453 !important;
}

.text-white {
  color: #fff !important;
}

.text-white:hover {
  color: #cecdcd !important;
}